<%= provide(:title,"Categories")%>

<div class="row my-3">
  <h1>Categories (<%= @categories.count %>)</h1>
  <%= link_to "All" , lessons_path, class: "btn btn-primary ml-auto" %>
  <%= link_to "Learned" , lessons_path(filter: "Learned"), class: "btn btn-primary mx-3" %>
  <%= link_to "Not Learned" , lessons_path(filter: "Not Learned"), class: "btn btn-primary" %>
</div>

<div class="row">
  <%= will_paginate(@categories) %>
</div>

  <div class="row my-3">
  <% if @categories.empty? %>
    <div class="text-centered">
      <div class="text-info">Nothing show</div>
    </div>
  <% else %>
    <% @categories.each do |category| %>  
      <div class="col-sm-6 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title : <%= category.title %></h5>
            <p class="card-text">Description : <%= category.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>  
  </div>

<%= will_paginate(@categories) %>
