<%= provide(:title,"Categories")%>

<div class="row my-3">
  <h1>Categories (<%= @categories.count %>)</h1>
  <div class="ml-auto">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%= current_page?("all") %> " >
        <%= link_to "All" , lessons_path ,class: "text-white"%>
      </label>
      <label class="btn btn-primary <%= current_page?("Learned") %> mx-3">
        <%= link_to "Learned" , lessons_path(filter: "Learned") ,class: "text-white" %>
      </label>
      <label class="btn btn-primary <%= current_page?("Not Learned") %> ">
        <%= link_to "Not Learned" , lessons_path(filter: "Not Learned") ,class: "text-white" %>
      </label>
    </div>
</div>
</div>

<div class="row">
  <%= will_paginate(@categories) %>
</div>

  <div class="row my-3">
  <% if @categories.empty? %>
    <div class="text-center">
      <div class="text-info">Nothing show</div>
    </div>
  <% else %>
    <% @categories.each do |category| %>  
      <div class="col-sm-6 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title : <%= category.title %></h5>
            <p class="card-text">Description : <%= category.description %></p>
            <% if check_if_learned(category) == false %>
              <%= link_to "Start", lessons_path(category_id: category.id),method: :post,class: 'btn btn-primary float-right w-100' %>
            <% else %>
                <%= link_to "Learned", lesson_path(current_user.lessons.find_by(category: category)),class: 'btn btn-info float-right w-100' %>
            <% end %> 
          </div>
        </div>
      </div>
    <% end %>
  <% end %>  
  </div>

<%= will_paginate(@categories) %>
