<%= form_with(model: @category, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="signup w-50 mx-auto">
        <div class="mb-3">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="mb-3">
            <%= f.label :description, "Description" %>
            <%= f.text_area :description, class: "form-control"%>
        </div>
        <%= f.submit btn_msg, class: "btn btn-block btn-success"%>
    </div>
<% end %>