<%= provide(:title,"Categries")%>
<div class="row">
    <div class="col-12">
        <div class="container my-3">
            <h1 class="texr-center">Categories</h1>
            <%= link_to 'new category', new_category_path, class:"btn btn-success" %>
            <%= will_paginate %>
              <table class="table table-striped table-hover">
                  <thead class="text-center">
                      <tr>
                          <th>Title</th>
                          <th>Description</th>
                          <th colspan="3">Action</th>
                      </tr>
                  </thead>
                    <tbody class="text-center">
                        <% @categories.each do |category| %>
                            <tr>
                                <td> <%= link_to "#{category.title}", category_words_path(category) %> </td>
                                <td> <%= category.description %> </td>
                                <td> <i class="far fa-plus-square"></i> <%= link_to "Add words", new_category_word_path(category) %> </td>
                                <td> <i class="fas fa-edit"></i> <%= link_to "Edit", edit_category_path(category)%> </td>
                                <td> <i class="fas fa-trash-alt"></i> <%= link_to "Delete", category_path(category),method: :delete,data: { confirm: "Are you sure?" }%> <i class="fas fa-poo fa-rotate-90"></i> </td>
                            </tr>
                        <% end %>
                    </tbody>
              </table>
            <%= will_paginate %>
        </div>
    </div>
</div>
